name: Main pipeline

on:
  push:
    branches: [ main ]

jobs:
  build_main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.branch }}

      - uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'temurin'

      - name: Build project
        run: ./gradlew build

      - run: echo "::set-output name=short::$(git rev-parse --short HEAD)"
        id: git_sha

      - name: Publish to Maven releases
        run: ./gradlew publish
        env:
          SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
          SONATYPE_PASS: ${{ secrets.SONATYPE_PASS }}
          PUBLISH_RELEASE: true
