name: Pull request checks

on:
  pull_request:
    branches: [ main ]

defaults:
  run:
    shell: bash

jobs:
  build_pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.branch }}

      - uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'temurin'

      - name: Build project
        run: ./gradlew build

      - name: Publish to Maven snapshots
        run: ./gradlew publish -Drelease=false
        env:
          SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
          SONATYPE_PASS: ${{ secrets.SONATYPE_PASS }}
          GITHUB_SHA: ${{ steps.git_sha.outputs.short }}
